<div class="container">
  <div class="alert alert-danger" *ngIf="errormessage!==''" style="text-align:center;">
    <strong>{{errormessage}}</strong>
  </div>
  <div class="alert alert-success" *ngIf="successmessage!==''" style="text-align:center;">
    <strong>{{successmessage}}</strong>
  </div>
  <div class="col-md-4 offset-md-4 signin">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">
          <span class="fa fa-sign-in"></span> Forgot Password</h2>
        <div class="form-group">
          <input type="text" class="form-control input-sm" [(ngModel)]="emailId" disabled>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-sm btn-block" (click)="sendConfirmationUrl()">Send Confirmation url to
            Email</button>
        </div>
      </div>
    </div>
  </div>
</div>